body {
  background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.card {
  background: #0b1f33;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
}

input, select, button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: linear-gradient(90deg,#4facfe,#00f2fe);
  cursor: pointer;
}
